@use './global/mixins'

.content-page
    &__main
        width: 80vw
        margin: 60px auto
    &__article
        @include mixins.flexCenter($direction: column, $gap: 20px)
        width: 100%
        margin: 50px 0
        overflow-x: auto
        &--no-scroll
            overflow-x: hidden
        @include mixins.tabletDevice
            flex-direction: row
            justify-content: space-between
            align-items: center
            &--start
                align-items: flex-start
            &--column
                flex-direction: column
    &__section
        width: 100%
        @include mixins.tabletDevice
            width: 45%
            margin: 0
            &--full
                width: 100%
            &--row-scroll
                @include mixins.flexCenter($align: center)
                width: 100%
                white-space: nowrap
                overflow: auto
    &__img
        width: 100%
