@import "../../node_modules/nes.css/css/nes.css"

@font-face
  font-family: 'Press Start 2P'
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype')

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: "Press Start 2P", arial
  background-color: #212425
  overflow-x: hidden
